%-*- mode: erlang -*-

{deps, [
    {cowboy,    {git, "https://github.com/ninenines/cowboy.git",     {branch, "master"}}},
    {epgsql,    {git, "https://github.com/epgsql/epgsql.git",     {branch, "master"}}},
    {jsx,       {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}
]}.

{relx, [
    {release, {distanse_mng, "0.1.0"}, [distance_mng, sasl]},
    {extended_start_script, true},

    {sys_config, "./env/release.config"},
    {vm_args, "./env/release.vmargs"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {include_src, false},
            {include_erts, true},
            {system_libs, true}
        ]}
    ]},

    {local, [
        {erl_opts, [debug_info]},
        {deps, [
            {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
        ]},
        {dist_node, [
            {setcookie, 'local'},
            {sname, 'distance_mng'}
        ]},
        {shell, [
            {apps, [distance_mng]},
            {config, "./env/local.config"}
        ]}
    ]},

    {test, [
        {erl_opts, [debug_info]},
        {deps, []},
        {dist_node, [
            {setcookie, 'testcookie'},
            {sname, 'distance_mng'}
        ]},
        {pre_hooks, [
            {"(linux)", ct, "./ct_database.sh init"}
        ]},
        {post_hooks, [
            {"(linux)", ct, "./ct_database.sh terminate"}
        ]}
    ]}
]}.
