%-*- mode: erlang -*-

{erl_opts, [
    inline,
    {src_dirs, ["src"]},
    {i, "src"},
    warn_unused_vars,
    %warnings_as_errors,
    %warn_export_all,
    nowarn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec,
    warn_untyped_record,
    debug_info
]}.

{clean_files, [
    "erl_crash.dump",
    "doc/*.html",
    "doc/erlang.png",
    "doc/edoc-info",
    "doc/stylesheet.css"
]}.

{sub_dirs, ["rel"]}.

%% == Common Test ==

{ct_compile_opts, [
    warn_unused_vars,
    %warn_export_all,
    nowarn_export_all,
    warn_shadow_vars,
    warn_unused_import,
    warn_unused_function,
    warn_bif_clash,
    warn_unused_record,
    warn_deprecated_function,
    warn_obsolete_guard,
    strict_validation,
    warn_export_vars,
    warn_exported_vars,
    warn_missing_spec,
    warn_untyped_record,
    debug_info
]}.

{ct_opts, [
    {sname, uniq_int_gen_test},
    {setcookie, "testcookie"},

    {sys_config, "env/test.config"},
    {verbose, false}
]}.



%% == Release ==

{relx, [
    {release, {distance_mng, "0.1.0"}, [
        distance_mng
    ], [
        {include_erts, true}
    ]},
    {sys_config, "./env/devel.config"},
    {vm_args, "./env/devel.vmargs"},
    {extended_start_script, true}
]}.


%% == Dependancies ==

%% Where to put any downloaded depandencies. Default is `deps'
{deps_dir, ["deps"]}.

{deps, [

      
        {epgsql,     ".*", {git, "https://github.com/epgsql/epgsql.git",                  {branch, "master"}}},
        {cowboy,     ".*",   {git, "https://github.com/epgsql/epgsql.git",      {branch, "master"}}},
        {jsx,     ".*",   {git, "https://github.com/talentdeficit/jsx.git",      {branch, "master"}}}
        
]}.

%% == xref ==

{xref_warnings, true}.

%% optional extra paths to include in xref:set_library_path/2.
%% specified relative location of rebar.config.
%% e.g. {xref_extra_paths,["../gtknode/src"]}
{xref_extra_paths, []}.

%% xref checks to run
{xref_checks, [
    undefined_function_calls,
    undefined_functions,
%    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_queries,
    [{"(XC - UC) || (XU - X - B"
    " - (\"mod\":\".*foo\"/\"4\"))",[]}]}.

{profiles, [
    {master, [
        {erl_opts, [
            no_debug_info
          ]}
        ]},


    {devel, [
        {deps, []},
        {dist_node, [
            {setcookie, 'develcookie'},
            {sname, 'distanse_mng'}
        ]}
    ]},
    {local, [
        {deps, [
          {sync,     ".*",   {git, "https://github.com/rustyio/sync.git",      {branch, "master"}}}
       	
      	   
        ]},
        {dist_node, [
            {setcookie, 'testcookie'},
            {sname, 'distanse_mng'}
        ]}
    ]},

    {test, [
        {deps, [   ]},
        {dist_node, [
            {setcookie, 'testcookie'},
            {sname, 'distanse_mng'}
        ]},
        {pre_hooks, [{"(linux)", ct, "./ct_database.sh init"}

                    ]},
        {post_hooks, [{"(linux)", ct, "./ct_database.sh terminate"}

                     ]}
    ]}
]}.
