[
    {lager, [
                {handlers, [
                    {lager_console_backend, [
                        {level, debug},
                        {formatter_config, [
                           color,
                           date, " ",
                           time,
                           " [", severity, "]:",
                           module, ":",
                           line, ": ",
                           message, "\n"
                        ]}
                    ]},
                    %{lager_logstash_backend, [{level, debug}, {output, {udp, "loghost", 5001}}, {format, json}]},
                    %{lager_mongo_backend, [{level, debug}, {host, "de2mdb01d.dev.favorit"}, {database, logs}, {collection, accounts}]},
                    {lager_file_backend, [{file, "log/error.log"}, {level, error}, {size, 134217728}, {count, 10}]},
                    {lager_file_backend, [{file, "log/console.log"}, {level, info}, {size, 134217728}, {count, 10}]}
                ]},
                {suppress_supervisor_start_stop, true},
                {error_logger_hwm, 100},
                {error_logger_redirect, false},
                {colored, false},
                {crash_log, "log/crash.log"}
    ]},

    {dbproxy, [
          {databases, [
                  [
                      {name, db_seq},
                      {pool_size, 10},
                      {pool_exceeded_limit, 15},
                      {pg_host, "platforma-db"},
                      {pg_user, "dba"},
                      {pg_password, "CK@WS6HS~6p9.g"},
                      {pg_database, "uniq_int" },
                      {pg_timezone, "UTC"}
                  ]

    ]}]},



    {cluster_linker, [
        {nodes, [
            'seed@de2np04d'
        ]}
    ]}
].
