[
    {dbproxy, [
        {databases, [
            [
                {name, diploma},
                {pool_size, 10},
                {pool_exceeded_limit, 15},
                {pg_host, "127.0.0.1"},
                {pg_user, "postgres"},
                {pg_password, "123"},
                {pg_database, "diploma"},
                {pg_timezone, "UTC"}
            ]

        ]}]}
].
